In [1]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
import copy 

import seaborn as sns
sns.set(color_codes=True)
import os

from scipy.stats import entropy as DKL

/home/acevedo/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216, got 192
  return f(*args, **kwds)

In [2]:
train_set = pd.read_csv('../data/experiment_march_21/train_set.csv', header=None) .values

In [3]:
def gan_error(gan_ds, training_ds):
    assert gan_ds.shape == training_ds.shape
    a = gan_ds.mean(axis=0)
    b = training_ds.mean(axis=0)
    return DKL(a,b)

In [4]:
def build_table(data_path, train_ds):

    old_path = os.getcwd()
    os.chdir(data_path)
    cwd = os.getcwd()

    print([x[0].replace(cwd,'') for x in os.walk(cwd)])
    
    directory_list=[x[0].replace(cwd,'').replace('/','') for x in os.walk(cwd,topdown=True)]
    directory_list= directory_list[1:]
    
    # directory_list = sorted(directory_list)
    
    #print("\n")
    #print(sorted(directory_list))
    #print(directory_list)


    
    dkl_record = []
    
    id_sample_N = []
    id_repetition = []
    
    # print(len(directory_list))
    # For loop goes here
    for dir_k in range(len(directory_list)):

        numbers_list =(directory_list[dir_k].replace('_data','').replace('_',' ').replace('/',' ')).split(' ')


        os.chdir(directory_list[dir_k])
        ids = [int(numbers_list[k]) for k in range(len(numbers_list))]

        samples_file = 'gan_samples_'+numbers_list[0]+'_'+numbers_list[1] + '.csv'

        fake_samples = pd.read_csv(samples_file,header=None) .values
        indices =  (pd.read_csv('training_indices.csv', header=None) .values).flatten() 
        val = gan_error(fake_samples, train_ds[indices])
        
        dkl_record.append(val)
        id_sample_N.append(ids[0])
        id_repetition.append(ids[1])
        
        os.chdir(cwd)
        
        ## 

    os.chdir(old_path)
    
    plot_table = pd.DataFrame(
    {'DKL': dkl_record,
     'id_sample_N': id_sample_N,
     'id_repetition': id_repetition
    })
    
    return plot_table

In [5]:
x = build_table('../data/plot2', train_set)
x

['', '/300_1_data', '/400_0_data', '/700_1_data', '/400_1_data', '/500_0_data', '/700_0_data', '/300_0_data', '/500_1_data']

        DKL  id_sample_N  id_repetition
0  0.005324          300              1
1  0.004088          400              0
2  0.001945          700              1
3  0.003329          400              1
4  0.003300          500              0
5  0.002339          700              0
6  0.006286          300              0
7  0.002804          500              1